#content {
	background-color: white;
	color: #000000;
}

#content:link {
	color: #006699;	
}

#content:visited {
	color: #006699;	
}

#content a:active {
	color: #006699;	
}

#content div {
	margin-top: 0;
	margin-left: 4px;
}

#content h2 {
	color: #000000;
	text-decoration: none;
	margin-left: 0;	
}

#content table {
	margin: 1px;
	text-align: left;
}

#content p {
	margin-top: 0;
}

.WELCOMETITLE {
	color: white;
	background: #666666;
	font-weight: bold;
}

#sidebar {
	padding: 0;
	background-color: #ffffff;
	color: #000000;
}

#sidebar a:link {
	color: navy;
	font-size: 10pt;
	font-weight: bold;	
}

#sidebar a:visited {
	color: black;
	font-size: 10pt;
	font-weight: bold;	
}

#sidebar a:active {
	color: #006699;	
}

#sidebar ul {
	list-style-type: none;
	margin-top: 2px;
	padding-left: 0.5em;
}

#sidebar li {
	height: 25px;
}

#homelink {
    background: url(../jetspeed1/images/misc-folders/home.gif) left top no-repeat;
    padding-left: 24px;
}

#messaginglink {
    background: url(../jetspeed1/images/folder.gif) left top no-repeat;
    padding-left: 24px;
}

#preferenceslink {
    background: url(../jetspeed1/images/folder.gif) left top no-repeat;
    padding-left: 24px;
}

#aboutlink {
    background: url(../jetspeed1/images/misc-folders/dep.gif) left top no-repeat;
    padding-left: 24px;
}