* { padding:0; margin:0; }

body { 
	background-color: #e0e0db; 
	font-size: 85%; 
	font-family: 'Trebuchet MS', Verdana, Arial, Sans-Serif;
	text-align: center;
}

#wrap {
	width: 1060px;
	margin: 0 auto;
	padding: 4px;
	text-align: left;
}

#header {
	width: 1060px;
	height: 80px;
	float: left;
	text-align: right;
	border-top: 1px solid #999;
}

#navigation {
	width: 1060px;
	height: 40px;
	float: left;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	vertical-align: middle;
}

#navigation ul {
	display: inline-block;
	list-style-type: none;
	padding-top: 0.5em;
}

#navigation li {
	display: inline;
	margin: 0.5em;
	padding-right: 0.5em;
}

#content {
	width: 859px;
	height: 400px;
	float: left;
	border-right: 1px solid #999;
}

#content ul {
	margin-left: 3em;
}

#content ul p {
	margin-top: 1em;
	margin-left: 0;
}

#sidebar {
	width: 200px;
	height: 400px;
	float: left;
	top: 0px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 20px;
}

p, div.controlpanel {
	margin: 15px 20px;
}

div.resultpanel {
	margin: 15px 20px;
	width: 75%;
	height: 100px;
	overflow: auto;
}

div.resultpanel table {
	width: 90%;
	border: 1px solid blue;	
}

div.resultpanel th {
	margin: 0;
	padding: 3px;
	border-bottom: 2px solid blue;
}

div.resultpanel td {
	margin: 0;
	padding: 3px;
	border-bottom: 1px solid black;
}

.infomessage {
	color: #0000FF;
}

.errormessage {
	color: #FF0000;
}


a:link {
	color: #ce131a;
}

a:hover, a:active, a:focus {
	color: #1cb727;
	text-decoration: none;
}

.sf_container {
	margin-top: 15px;
	margin-left: 90px;
	margin-right: 110px;
	margin-bottom: 15px;
	border: 2px solid #6D747C;
}


.sf_container tr {
	vertical-align: middle;	
}

.sf_container td {
	text-align: center;
	width: 40px;
	height: 40px;
}


.sf_obenlinks {
	border: 1px solid #6D747C;
}

.sf_obenmitte {
	border-top: 1px solid #6D747C;
	border-bottom: 1px solid #6D747C;
}

.sf_obenrechts {
	border: 1px solid #6D747C;
}

.sf_mittelinks {
	border-left: 1px solid #6D747C;
	border-right: 1px solid #6D747C;
}

.sf_zentrum {
}

.sf_mitterechts {
	border-left: 1px solid #6D747C;
	border-right: 1px solid #6D747C;
}

.sf_untenlinks {
	border: 1px solid #6D747C;
}

.sf_untenmitte {
	border-top: 1px solid #6D747C;
	border-bottom: 1px solid #6D747C;
}

.sf_untenrechts {
	border: 1px solid #6D747C;
}